@using Ninject
@using Auction.Ioc
@using Auction.BLL.Interfaces
@using Auction.Entities
@{
    Layout = "~/Pages/Layouts/_HeaderLayout.cshtml";
    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("~");
    }
    var lotLogic = DependencyResolver.Kernel.Get<ILotLogic>();
}

<div class="container">

    @foreach (var lot in lotLogic.GetAll().Where(e => e.Buyer != null && e.Buyer.Username == User.Identity.Name))
    {
        <div class="lot">
            <img src="data:image/png;base64, @(Convert.ToBase64String(lot.Image))" alt="Lot image" />
            <div class="lot-info-block">
                <div>@lot.Title</div>
                <div>@lot.Description</div>
            </div>
            <div class="seller">
                <b>Seller:&nbsp;</b>@lot.Seller.Username
            </div>
            <div class="cost-lot">
                <b>Cost:&nbsp;</b>@lot.Cost$
            </div>
        </div>
    }

    
</div>
